---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="About">
	<div class="w-full bg-rojoPg ">
    <div class="overflow-hidden;">
            <svg
              preserveAspectRatio="none"
              width="100%"
              viewBox="0 0 1200 120"
              xmlns="http://www.w3.org/2000/svg"
              fill="#f4422a"
            >
              <path d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z" />
            </svg>
          </div>
        </div>
  <nav class="w-full flex justify-around px-10 text-3xl">
    <div class="w-8/12 flex items-center border-r-8 border-gray-800 bg-green-500"><h1>Hello world</h1></div>
    <div class="w-4/12 justify-around bg-red-500 lg:flex [&_h2:nth-child(odd)]:text-blue-400 [&>h2]:truncate gap-2 "> <h2>IDJISDJDN</h2><h2>sccd</h2> <h2>ssdsdcs</h2><h2 class="truncate">sscdccsdscdscd</h2></div>
  </nav>
                      
    
</Layout>