---
import Layout from '../layouts/Layout.astro';
// import Sl from '../components/Sl';
---

<Layout title="Welcome to Astro.">
	<div class="bg-green-500/10">
		<div class="overflow-hidden">
			<!-- <Sl client:visible/> -->
		</div>
	</div>
</Layout>

<style>
	main {
	}
	
</style>
